<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap" rel="stylesheet">   
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Lora:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <meta charset="UTF-8">
    <title>{% block title %}RAVEN{% endblock %}</title>

    <!-- Link to external CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<nav class="navbar">

    <!-- LEFT SIDE -->
    <div class="nav-left">
        <a href="/">
            <span class="logo-main">RAVEN</span>
            <span class="subtitle">
                Research Access, Visibility, and Exploration Network
            </span>
        </a>
    </div>

    <!-- RIGHT SIDE -->
    <div class="nav-right">

        <div class="dropdown">
            <a href="#">Research at COA and Beyond</a>
            <div class="dropdown-content">
                <a href="/opportunities/landing">COA and Partner Organizations</a>
                <a href="/opportunities/research">Faculty Research</a>
                <a href="/opportunities/student">Student Research</a>
                <a href="/opportunities/beyond">Beyond COA</a>
                <a href="/opportunities/getinvolved">Get Involved</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="#">Resources & Information</a>
            <div class="dropdown-content">
                <a href="/guides/research101">Research 101</a>
                <a href="/guides/accessvisibility">You Belong in Research</a>
                <a href="#">Resources</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="#">Research in Human Ecology</a>
            <div class="dropdown-content">
                <a href="/internships/landing">Research Across Career Communities</a>
                <a href="/internships/map">Section</a>
                <a href="/internships/list">Section 2</a>
            </div>
        </div>

    </div>
</nav>

<!-- PAGE CONTENT -->
{% block content %}{% endblock %}

<!-- GLOBAL CTA -->
<section class="global-cta">
    <p>Want to get involved in undergraduate research?</p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfjtifDTPUImm0s1Dc65fPDxfPiAVTSEQEBVaak9-QhCuqPjw/viewform?usp=publish-editor" target="_blank" class="global-cta-button">
        Get Involved
    </a>
</section>

<footer>
    &copy; 2026 RAVEN Database | Frances LeDuke
</footer>

</body>
</html>