{% extends "base.html" %}

{% block title %}Faculty Research{% endblock %}

{% block content %}

<!-- HERO HEADER -->
<section class="hero-banner">
    <h1>Faculty Research</h1>
    <p>
        Explore research led by faculty across disciplines. Learn about ongoing projects,
        areas of focus, and opportunities to get involved. All bios and images featured on this page are sourced from the Faculty Directory.
    </p>

    <p>
        <a href="https://www.coa.edu/academics/faculty" target="_blank" class="faculty-directory-button">
            COA Faculty Directory
        </a>
    </p>

</section>

<!-- FACULTY GRID -->
<section class="faculty-grid">

    <div class="faculty-card">
        <img src="{{ url_for('static', filename='kara.jpg') }}">
        <h2>Kara Gadeken</h2>
        <p class="field">Marine Ecology</p>
        <p>
            "Field and Laboratory. Lab, mesocosm, and field marine science experimental design and logistics; scuba diving and underwater science with experience in low visibility and high current conditions; benthic community sampling and invertebrate taxonomic identification; marine sediment sampling and geochemical analysis; sediment electrochemical profiling and analysis."
        </p>
        <p>
            <a href="https://www.researchgate.net/profile/Kara-Gadeken" target="_blank" class="faculty-publication-button">
                Publications</a>
        </p>
    </div>

    <div class="faculty-card">
        <img src="{{ url_for('static', filename='sarah.jpg') }}">
        <h2>Sarah Hall</h2>
        <p class="field">Earth Science</p>
        <p>
            "Sarah joined the faculty of COA in the Fall of 2012 and teaches courses in the Earth Sciences. Before coming to COA Sarah was an Assistant Professor at McGill University in Montreal following her graduate work at the University of California, Santa Cruz and undergraduate degree at Hamilton College. She grew up in upstate NY and after college spent a few years in Atlanta, GA working as a Geologist at an environmental consulting firm and as an ECOWATCH AmeriCorps team member."
        </p>
        <p>
            <a href="https://www.researchgate.net/profile/Sarah-Hall-31" target="_blank" class="faculty-publication-button">
                Publications</a>
        </p>
    </div>

    <div class="faculty-card">
        <img src="{{ url_for('static', filename='hien.jpg') }}">
        <h2>Hien Nguyen</h2>
        <p class="field">Economics</p>
        <p>
            “My scholarship is informed by the belief that sex and gender are material relations integrally connected to labor, production, consumption, and the accumulation and circulation of capital. The establishment and naturalization of binary cisgender and compulsive heterosexuality – alongside racialized violence, slavery, and genocidal dispossession of Indigenous people – was foundational to the development of capitalism and the modern nation-state."
        </p>
        <p>
            <a href="https://www.duchiennguyen.com/research.html" target="_blank" class="faculty-publication-button">
                Publications</a>
        </p>
    </div>

    <div class="faculty-card">
        <img src="{{ url_for('static', filename='sean.jpg') }}">
        <h2>Sean Todd</h2>
        <p class="field">Biology and Marine Mammals</p>
        <p>
            "As a researcher, Sean is involved in several projects as a principal investigator. Studies include: photo-identification and biopsy of finback and humpback whales, working at sites that vary from the remote field site of Mount Desert Rock, located 25 miles offshore in the Gulf of Maine, to the Antarctic Peninsula; bioacoustic assessments of whale-shipstrike interactions; passive acoustic monitoring; and examinations of baleen whale and pinniped foraging ecology using stable isotopes. He directs Allied Whale, as well as the Marine Mammal Stranding Response Program at College of the Atlantic."
        </p>
        <p>
            <a href="https://www.researchgate.net/profile/Sean-Todd" target="_blank" class="faculty-publication-button">
                Publications</a>
        </p>
    </div>

        <div class="faculty-card">
        <img src="{{ url_for('static', filename='brittany.jpg') }}">
        <h2>Brittany Slabach</h2>
        <p class="field">Terrestrial Biology</p>
        <p>
            "I am interested in the relationship between landscapes, disturbance, and vertebrate ecology. My research is question driven and not system specific, and I have experience with a variety of taxa (mammals, reptiles, and aves), and focus on landscapes that serve multiple recreational purposes. My students and I use a variety of methods including live trapping (Shermans and mist netting), observational techniques (direct and wildlife cameras), vegetation sampling and mapping (transects, NDVI and LiDAR), voucher specimens, and molecular techniques (species identification, relatedness, and disease). We have several on-going projects investigating the effects of various types of disturbance on different vertebrate communities. This work is occurring in Acadia National Park, ME, and Government Canyon State Natural Area, TX."
        </p>
        <p>
            <a href="https://www.researchgate.net/profile/Brittany-Slabach" target="_blank" class="faculty-publication-button">
                Publications</a>
        </p>
    </div>

</section>

{% endblock %}