{% extends "base.html" %}

{% block title %}RAVEN{% endblock %}
 
{% block content %}


<!-- HEADER -->
<section class="hero-banner">
    <h1>What does it mean to do research in Human Ecology?</h1>
    <p>
    Doing research in human ecology means studying the complex, interconnected relationships between human beings and their environments. It investigates how our social, natural, and built surroundings impact our well-being, and how our daily behaviors—like resource use and design choices—affect those environments in return
    </p>
</section>

<!-- ORGANIZATION GRID -->
<section class="org-grid">


    <!-- Human Ecology Review -->
    <a href="https://www.jstor.org/stable/e27362163" target="_blank" class="card-link">
        <div class="org-card">
            <img src="{{ url_for('static', filename='HER.png') }}" alt="Human Ecology Review">
            <h2> <i>Human Ecology Review</i></h2>
            <p>
                Peer-Reviewed Journal
            </p>
            <p>
                Human Ecology Review is a peer-reviewed journal that publishes interdisciplinarity research on all aspects of human-environment interactions. 
                This journal also publishes essays, discussion papers, dialouge, and commentary on special topics relative to human ecology.
            </p>
        </div>
    </a>

    <!-- Climate Resilience & Sustainable Agriculture -->
    <a href="https://link.springer.com/article/10.1007/s10460-025-10805-1?" target="_blank" class="card-link">
        <div class="org-card">
            <img src="{{ url_for('static', filename='CFA.png') }}" alt="Climate Resilience & Sustainable Agriculture">
            <h2> <i>When the university meets the grassroots: participatory action research and just transitions in agriculture </i></h2>
            <p>
                Peer-Reviewed Paper: Climate Resilience & Sustainable Agriculture
            </p>
            <p>
            A participatory research project in the U.S. Midwest studying transitions toward sustainable agriculture with farmers and community organizers.
            </p>
        </div>
    </a>

 <!-- Human Health, Ecology, and Built Environments -->
    
    <a href="https://digital.lib.washington.edu/researchworks/items/5335c14e-a5c6-49a2-8570-376bf177112b?" target="_blank" class="card-link">
        <div class="org-card">
            <img src="{{ url_for('static', filename='washington.png') }}" alt="Human Health, Ecology & Built Environments">
            <h2><i>TDAR Gardens Intervention in the Peruvian Amazon</i></h2>
            <p>
                Peer-Reviewed Paper: Human Health, Ecology & Built Environments
            </p>
            <p>
            Combined ecology, public health, and urban design to improve living conditions in an informal settlement through community garden interventions.
            </p>
        </div>
    </a>

    <!-- Urban Agriculure Policy and Food Security -->
    
    <a href="https://asu.elsevierpure.com/en/publications/scaling-up-urban-agriculture-in-tempe-arizona-a-participatory-pla/?" target="_blank" class="card-link">
        <div class="org-card">
            <img src="{{ url_for('static', filename='ASU.png') }}" alt="Urban Agriculture Policy and Food Security">
            <h2><i>Scaling up urban agriculture in Tempe, Arizona: A participatory planning case for early urban food policy</i></h2>
            <p>
                Peer-Reviewed Paper: Urban Agriculture Policy and Food Security
            </p>
            <p>
               Researchers worked with residents, nonprofits, and city staff to co-design urban food policy recommendations. 
            </p>
        </div>
    </a>

    <!-- Ecology and Environment -->
    
    <a href="https://esajournals.onlinelibrary.wiley.com/doi/10.1002/fee.2435" target="_blank" class="card-link">
        <div class="org-card">
            <img src="{{ url_for('static', filename='FEE.png') }}" alt="Ecology and Environment">
            <h2><i>Contributions of Indigenous Knowledge to ecological and evolutionary understanding</i></h2>
            <p>
                Peer-Reviewed Paper: Ecology and Environment
            </p>
            <p>
               Researchers explored how Indigenous knowledge systems contribute to our understanding of ecological and evolutionary processes.
            </p>
        </div>
    </a>

    <!-- Info Card -->

    <a href="{{ url_for('research101') }}" target="_blank" class="card-link">
        <div class="org-card">
            <img src="{{ url_for('static', filename='R101.png') }}" alt="Info Card">
            <h2><i>Wondering how to interact with these resources?</i></h2>
            <p>
                Research 101: What does "Peer-Reviewed" mean? How do I read a research paper? What is a journal?
            </p>
            <p>
               Click this card to visit our research resource page to learn what research is, why we do it, how to read and understand research communication, 
               frequently used terms, etc. 
            </p>
        </div>
    </a>
</div>

</section>  

<section class="banner-cta">
    <p>Interested in exploring research from students at COA?</p>

    <a href="{{ url_for('jobs') }}" class="banner-cta-button">
        View Student Research
    </a>
</section>


{% endblock %}