{% extends "base.html" %}

{% block title %}RAVEN{% endblock %}

{% block content %}

<!-- HERO SECTION -->
<section class="landing-hero-banner">

    <div class="hero-text-landing_header">
        <h1>RAVEN</h1>
    </div>
    
    <div class="hero-text-landing_subheader">
        <h2>Research Access, Visibility, and Exploration Network</h2>
    </div>
    
    <div class="hero-text">

        <p>
            RAVEN is a platform designed to connect undergraduate students at College of the Atlantic
            with information, resources, and accessible opportunities in research. 
        </p>    

        <p>  
            RAVEN aims to be a 
            centralized location for students to explore and learn about research at COA, allowing for 
            access and visibiity to span across all fields of interest, experience levels, and backgrounds. 
        </p>

        <h3> You belong in research. </h3>

        <a href="/opportunities" class="hero-button">
            Get Started
        </a>
    </div>

    <div class="hero-gallery">
    <img src="{{ url_for('static', filename='gallery1.jpg') }}" alt="Research image 1">
    <img src="{{ url_for('static', filename='gallery2.jpg') }}" alt="Research image 2">
    <img src="{{ url_for('static', filename='gallery3.jpg') }}" alt="Research image 3">
    <img src="{{ url_for('static', filename='gallery4.jpg') }}" alt="Research image 4">
    </div>

</section>

<!-- CARDS SECTION -->
<section class="cards">

    <a href="/opportunities" class="section-card">
        <h2>Research at COA and Beyond</h2>
        <p>
            Explore opportunities from partner organizations to independent research.
        </p>
    </a>

    <a href="/career-guides" class="section-card">
        <h2>Resources and Information</h2>
        <p>
            Understand what research is and how to get involved.
        </p>
    </a>

    <a href="/internships" class="section-card">
        <h2>Internship Archive</h2>
        <p>
            Browse past internships and plan your next step.
        </p>
    </a>

</section>

<hr class="section-divider">

{% endblock %}