{% extends "base.html" %}

{% block title %}Research 101{% endblock %}

{% block content %}

<!-- HERO -->
<section class="hero-banner">
    <h1>Research 101</h1>
    <p>
        Curious about what research is, how it works, and what it entails? This page is your starting point for understanding the basics of research. 
    </p>
</section>

<!-- ORGANIZATION GRID -->
<section class="org-grid">

    <!-- Definition, Purpose, Types -->
    <a href="https://nursing.duke.edu/pfr/research#box1" target="_blank" class="card-link">
        <div class="org-card">
            <h2>What is Research?</h2>
            <p>
                Research is a process of asking and testing questions about the world around us. Research is a broad term that encompasses
                many different types of projects, purposes, and methods. Research can be conducted in any field of study, 
                from the sciences to the arts, and can take many forms, including experiments, surveys, interviews, and literature reviews.
            </p>
        </div>
    </a>

    <a href="https://nursing.duke.edu/pfr/research#box1" target="_blank" class="card-link">
        <div class="org-card">
            <h2>Why Does It Matter?</h2>
            <p>
                Research helps answer questions that impact people's lives. Answers researchers find help shape and inform policies, 
                products, treatments, public programs, and much more. Community plays a central role in research - when people share their needs and experiences
                with researchers, they help ensure that research is relevant and meaningful to the communities it aims to serve.
            </p>
        </div>
    </a>

    <a href="https://nursing.duke.edu/pfr/research#box1" target="_blank" class="card-link">
        <div class="org-card">
            <h2>What are the basic steps?</h2>
            <p>
                1. Identify a question: What problem or gap in knowledge needs to be addressed?
                2. Review existing research: What has already been studied and what has been found?
                3. Form a hypothesis or objective: What do you expect to find or what do you want to learn?
                4. Design the study: Decide how you'll collect information (data) to test your hypothesis or answer your question.
                5. Collect data: Gather information through experiments, surveys, interviews, or other methods
                6. Analyze and communicate results: Interpret the data and share your findings with others.
            </p>
        </div>
    </a>    


<hr class="section-divider">

<!-- CTA -->
<section class="r101-cta">
    <h2>You Belong in Research</h2>
    <p>
        There’s no single path into research. If you’re curious, thoughtful,
        or creative—you already have what it takes to start.
    </p>

    <a href="/get-involved" class="cta-button">
        Get Involved →
    </a>
</section>

{% endblock %}