{% extends "base.html" %}

{% block title %}RAVEN{% endblock %}
 
{% block content %}

<section class="hero-banner">
    <h1>Resources</h1>
    <p>Understand what it means to pursue a career in research, graduate school, and more. Explore posters, papers, and abstract examples. Get connected with the COA Career Exploration Laboratory, Thorndike Library, and Faculty members.</p>
</section>

<!-- FIELDS -->
<section class="r101-fields">

    <div class="fields-grid">

        <!-- Career Exploration Laboratory -->
        <div class="field-card">
            <h3>Career Exploration Laboratory</h3>
            <p>The CEL can help you explore different opportunities and connect you with faculty members. The CEL can also help you find a research 
                opportunity that will count toward your internship requirement! Come visit us in the Artts and Sciences Building, right next to the Writing Center.
                You can also get in contact with the CEL through the Get Involved button at the bottom of every page.</p>

            <div class="field-links">
                <a href="https://www.coa.edu/academics/career-development/">Career Development Webpage →</a>
                <a href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ0wAfgxwdbotjkZE-TvtyfwydWJ0ya49tj6nBFZdymCzwVvrLE39ZcgZ3XfIGLZJFK-gvTQ7Tkw">Schedule a Meeting with Jeffry, Director of Career Development →</a>
            </div>
        </div>

        <!-- Library -->
        <div class="field-card">
            <h3>Thorndike Library</h3>
            <p>COA's own Thorndike Library provides access to a wide range of academic resources, including journals, books, and databases. Throndike has a comprehensive collection of Research LibGuides covering 33 subjects.</p>

            <div class="field-links">
                <a href="https://libguides.coa.edu/">Research Guides →</a>     
        </div>
</section>


<section class="hero-banner">
  <h1>Example Posters, Abstracts and Papers</h1>
</section>


<!-- ORGANIZATION GRID -->
<section class="org-grid">

    <!-- Sample Abstract -->
    <a href="https://writing.wisc.edu/handbook/assignments/writing-an-abstract-for-your-research-paper/" target="_blank" class="card-link">
        <div class="org-card">
            <img src="{{ url_for('static', filename='abstract.png') }}" alt="Writing an Abstract for your Research Paper">
            <h2> Writing an Abstract</h2>
            <p>
                How to write an effective abstract for a research paper, including tips on structure, content, and style, with examples.
            </p>
        </div>
    </a>

       <!-- Sample Research Paper -->
    <a href="https://sib.illinois.edu/undergraduate/guidelines/manuscript" target="_blank" class="card-link">
        <div class="org-card">
            <img src="{{ url_for('static', filename='paper.png') }}" alt="Writing a Research Paper">
            <h2> Writing a Research Paper</h2>
            <p>
               Guidance for writing a research manuscript, including formatting, structure, and tips for presenting research findings effectively and properly.
            </p>
        </div>
    </a>
       <!-- Sample Research Poster -->
    <a href="https://undergraduates.utexas.edu/academics/undergraduate-research/research-poster-resources/poster-samples" target="_blank" class="card-link">
        <div class="org-card">
            <img src="{{ url_for('static', filename='poster.png') }}" alt="Creating a Research Poster">
            <h2> Creating a Research Poster</h2>
            <p>
               Poster examples from various diciplines, with strenghts and weaknesses noted, and tips for creating an effective research poster that communicates your findings clearly and visually. 
            </p>
        </div>
    </a>
</section>


{% endblock %}