{% extends "base.html" %}

{% block title %}RAVEN{% endblock %}
 
{% block content %}

<section class="hero-banner">
    <h1>Resources</h1>
    <p>Understand what it means to pursue a career in research, graduate school, and more. Explore posters, papers, and abstract examples. Get connected with the COA Career Exploration Laboratory, Thorndike Library, and Faculty members.</p>
</section>

<!-- FIELDS -->
<section class="r101-fields">

    <div class="fields-grid">

        <!-- Career Exploration Laboratory -->
        <div class="field-card">
            <h3>Career Exploration Laboratory</h3>
            <p>The CEL can help you explore different opportunities and connect you with faculty members. The CEL can also help you find a research 
                opportunity that will count toward your internship requirement! Come visit us in the Artts and Sciences Building, right next to the Writing Center.
                You can also get in contact with the CEL through the Get Involved button at the bottom of every page.</p>

            <div class="field-links">
                <a href="https://www.coa.edu/academics/career-development/">Career Development Webpage →</a>
                <a href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ0wAfgxwdbotjkZE-TvtyfwydWJ0ya49tj6nBFZdymCzwVvrLE39ZcgZ3XfIGLZJFK-gvTQ7Tkw">Schedule a Meeting with Jeffry, Director of Career Development →</a>
            </div>
        </div>

        <!-- Library -->
        <div class="field-card">
            <h3>Thorndike Library</h3>
            <p>COA's own Thorndike Library provides access to a wide range of academic resources, including journals, books, and databases. Throndike has a comprehensive collection of Research LibGuides covering 33 subjects.</p>

            <div class="field-links">
                <a href="https://libguides.coa.edu/">Research Guides →</a>     
        </div>

</section>


{% endblock %}